<h1 style="text-align:center"> FLOOR 2 </h1>
<svg
   width="210mm"
   height="297mm"
   viewBox="0 0 210 297"
   version="1.1"
   id="svg5"
   inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
   sodipodi:docname="floor2.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <!-- <sodipodi:namedview
     id="namedview7"
     pagecolor="#505050"
     bordercolor="#eeeeee"
     borderopacity="1"
     inkscape:pageshadow="0"
     inkscape:pageopacity="0"
     inkscape:pagecheckerboard="0"
     inkscape:document-units="mm"
     showgrid="false"
     inkscape:zoom="1.4467452"
     inkscape:cx="356.31706"
     inkscape:cy="424.74652"
     inkscape:window-width="2400"
     inkscape:window-height="1271"
     inkscape:window-x="2391"
     inkscape:window-y="-9"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1" /> -->
  <defs
     id="defs2">
    <rect
       x="472.78538"
       y="436.84264"
       width="196.3027"
       height="82.944804"
       id="rect6721" />
    <rect
       x="58.061363"
       y="446.51953"
       width="190.77305"
       height="62.208603"
       id="rect4757" />
    <rect
       x="183.86098"
       y="217.0389"
       width="286.15957"
       height="59.443776"
       id="rect3475" />
  </defs>
  <g
     inkscape:label="Warstwa 1"
     inkscape:groupmode="layer"
     id="layer1">
    <rect
       style="fill:#ffffff;stroke:#000001;stroke-width:0.264583"
       id="rect919"
       width="197.87808"
       height="100.21922"
       x="6.9495072"
       y="47.549263" />
    <rect
       style="fill:#ffffff;stroke:#000001;stroke-width:0.250804"
       id="room21"
       width="197.88741"
       height="36.219921"
       x="6.9401784"
       y="47.549263" 
       (click)="room21()"/>
    <rect
       style="fill:#ffffff;stroke:#000001;stroke-width:0.38977"
       id="room22"
       width="197.87971"
       height="42.431885"
       x="6.9495072"
       y="105.31543" 
       (click)="room22()"/>
    <text
       xml:space="preserve"
       transform="matrix(0.26458333,0,0,0.26458333,35.113301,3.6576354)"
       id="room21"
       style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect3475);fill:#000000;fill-opacity:1;stroke:none"><tspan
         x="183.86133"
         y="253.53228"
         (click)="room21()"
         id="tspan12873">room 21</tspan></text>
    <text
       xml:space="preserve"
       transform="matrix(0.26458333,0,0,0.26458333,-39.1367,6.2179803)"
       id="room22"
       style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect6721);fill:#000000;fill-opacity:1;stroke:none"><tspan
         x="472.78516"
         y="473.33501"
         (click)="room22()"
         id="tspan12875">room 22</tspan></text>
  </g>
</svg>
