<h1 style="text-align:center"> ROOM 21 </h1>
<svg
width="210mm"
height="297mm"
viewBox="0 0 210 297"
version="1.1"
id="svg5"
inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
sodipodi:docname="room21.svg"
xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
xmlns="http://www.w3.org/2000/svg"
xmlns:svg="http://www.w3.org/2000/svg">
<!-- <sodipodi:namedview
  id="namedview7"
  pagecolor="#505050"
  bordercolor="#eeeeee"
  borderopacity="1"
  inkscape:pageshadow="0"
  inkscape:pageopacity="0"
  inkscape:pagecheckerboard="0"
  inkscape:document-units="mm"
  showgrid="false"
  inkscape:zoom="1.4467452"
  inkscape:cx="356.31706"
  inkscape:cy="424.74652"
  inkscape:window-width="2400"
  inkscape:window-height="1271"
  inkscape:window-x="2391"
  inkscape:window-y="-9"
  inkscape:window-maximized="1"
  inkscape:current-layer="layer1" /> -->
<defs
  id="defs2">
 <rect
    x="472.78538"
    y="436.84264"
    width="196.3027"
    height="82.944804"
    id="rect6721" />
 <rect
    x="58.061363"
    y="446.51953"
    width="190.77305"
    height="62.208603"
    id="rect4757" />
 <rect
    x="183.86098"
    y="217.0389"
    width="286.15957"
    height="59.443776"
    id="rect3475" />
</defs>
<g
  inkscape:label="Warstwa 1"
  inkscape:groupmode="layer"
  id="layer1">
 <rect
    style="fill:#ffffff;stroke:#000001;stroke-width:0.250804"
    id="rect921"
    width="197.88741"
    height="36.219921"
    x="6.9401784"
    y="47.549263" />
 <rect
    style="{{bed21_3_s}}"
    id="bed21-3"
    width="30.358374"
    height="11.521551"
    x="171.17734"
    y="50.38393"
    (click)="goToPatients(3)"  />
    <text
    xml:space="preserve"
    id="text3473"
    style="font-style:normal;font-weight:normal;font-size:4px;font-family:sans-serif;white-space:pre;fill:#000000;fill-opacity:1;stroke:none"><tspan
    x="171.17734"
    y="50.38393"
      id="tspan9383">bed21-3</tspan></text>
 <rect
    style="{{bed21_4_s}}"   
    id="bed21-4"
    width="30.358374"
    height="11.521551"
    x="171.54311"
    y="67.574821" 
    (click)="goToPatients(4)" />
    <text
    xml:space="preserve"
    id="text3473"
    style="font-style:normal;font-weight:normal;font-size:4px;font-family:sans-serif;white-space:pre;fill:#000000;fill-opacity:1;stroke:none"><tspan
    x="171.54311"
    y="67.574821"
      id="tspan9383">bed21-4</tspan></text>
 <rect
    style="{{bed21_1_s}}"
    id="bed21-1"
    width="30.358374"
    height="11.521551"
    x="9.5098524"
    y="50.475372"
    (click)="goToPatients(1)"  />
    <text
    xml:space="preserve"
    id="text3473"
    style="font-style:normal;font-weight:normal;font-size:4px;font-family:sans-serif;white-space:pre;fill:#000000;fill-opacity:1;stroke:none"><tspan
    x="9.5098524"
    y="50.475372"
      id="tspan9383">bed21-1</tspan></text>
 <rect
    style="{{bed21_2_s}}"
    id="bed21-2"
    width="30.358374"
    height="11.521551"
    x="9.8756161"
    y="68.672104"
    (click)="goToPatients(2)"  />
    <text
    xml:space="preserve"
    id="text3473"
    style="font-style:normal;font-weight:normal;font-size:4px;font-family:sans-serif;white-space:pre;fill:#000000;fill-opacity:1;stroke:none"><tspan
    x="9.8756161"
    y="68.672104"
      id="tspan9383">bed21-2</tspan></text>
</g>
</svg>

