<div class='container-fluid'>  
    <div class="row" style="padding: 20px;">  
        <div class="col-sm-12 btn btn-dark">  
            Manage your hospital patients using web app 
        </div>  
    </div>  
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="assets/img/1.jpg" alt="Delhi Metro">  
                <div class="carousel-caption">  
                    <h3 style="color: black">Assign pacients to rooms</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="assets/img/2.jpg" alt="Bangalore Metro">  
                <div class="carousel-caption">  
                    <h3 style="color: black">Easly,automatically wpisz them from hospital</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="assets/img/3.jpg" alt="Channai Metro">  
                <div class="carousel-caption">  
                    <h3 style="color: black">Easly view and edit all pacients data</h3>  
                </div>  
            </ng-template>  
        </ngb-carousel>  
    </div>  
  
</div>  