<!-- <div class='container-fluid'>
    <div class="row" style="padding: 20px;">
        <div class="col-sm-12 btn btn-dark">
            Manage your hospital patients using web app
        </div>
    </div>
    <div class='col-12'>
        <ngb-carousel>
            <ng-template ngbSlide>
                <img src="assets/img/1.jpg" alt="Delhi Metro">
                <div class="carousel-caption">
                    <h3 style="color: black">Assign patients to rooms</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/img/2.jpg" alt="Bangalore Metro">
                <div class="carousel-caption">
                    <h3 style="color: black">Easly,automatically discharge them from hospital</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/img/3.jpg" alt="Channai Metro">
                <div class="carousel-caption">
                    <h3 style="color: black">Easly view and edit all patients data</h3>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

</div> -->


<!-- Single item -->
<div class="row">
<div class="carousel-item active mt-3">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-9 col-xl-8">
            <div class="d-flex">
                <div class="flex-shrink-0 me-2 mr-4 ">
                    <img src="assets/img/hugh.jpg"
                        class="rounded-circle mb-4 mb-lg-0 shadow-2" alt="woman avatar" width="90" height="90">
                </div>
                <div class="flex-grow-1 ms-4 ps-3">
                    <figure>
                        <blockquote class="blockquote mb-4">
                            <p>
                                <i class="fas fa-quote-left fa-lg text-warning me-2"></i>
                                <span class="font-italic">Humanity is overrated. This web app is the best thing I have seen in my life.</span>
                            </p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Hugh Laurie
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
<div class="carousel-item active mt-3">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-9 col-xl-8">
            <div class="d-flex">
                <div class="flex-shrink-0 me-2 mr-4">
                    <img src="assets/img/lysy.png"
                        class="rounded-circle mb-4 mb-lg-0 shadow-2" alt="woman avatar" width="90" height="90">
                </div>
                <div class="flex-grow-1 ms-4 ps-3">
                    <figure>
                        <blockquote class="blockquote mb-4">
                            <p>
                                <i class="fas fa-quote-left fa-lg text-warning me-2"></i>
                                <span class="font-italic">Wonderful app, now I know which bed I should visit next.
                                </span>
                            </p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Johnny Sins 
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
<div class="carousel-item active mt-3">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-9 col-xl-8">
            <div class="d-flex">
                <div class="flex-shrink-0 me-2 mr-4">
                    <img src="assets/img/dziad.png"
                        class="rounded-circle mb-4 mb-lg-0 shadow-2" alt="woman avatar" width="90" height="90">
                </div>
                <div class="flex-grow-1 ms-4 ps-3">
                    <figure>
                        <blockquote class="blockquote mb-4">
                            <p>
                                <i class="fas fa-quote-left fa-lg text-warning me-2"></i>
                                <span class="font-italic">Whatever you do, do with determination. You have one life to live; do your work with passion and give your best. Whether you want to be a chef, doctor, actor, or a father, be passionate to get the best result.
                                    I strongly recommend this website.
                                </span>
                            </p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Dr. Halord
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="carousel-item active mt-3">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-9 col-xl-8">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-2 mr-4">
                        <img src="assets/img/richard.jpg"
                            class="rounded-circle mb-4 mb-lg-0 shadow-2" alt="woman avatar" width="90" height="90">
                    </div>
                    <div class="flex-grow-1 ms-4 ps-3">
                        <figure>
                            <blockquote class="blockquote mb-4">
                                <p>
                                    <i class="fas fa-quote-left fa-lg text-warning me-2"></i>
                                    <span class="font-italic">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Pariatur sint nesciunt
                                        ad itaque aperiam expedita officiis incidunt minus
                                        facere, molestias quisquam impedit inventore.
                                    </span>
                                </p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Richard McClintock
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="carousel-item active mt-3">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-9 col-xl-8">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-2 mr-4 ">
                        <img src="assets/img/Theoden.jpg"
                            class="rounded-circle mb-4 mb-lg-0 shadow-2" alt="woman avatar" width="90" height="90">
                    </div>
                    <div class="flex-grow-1 ms-4 ps-3">
                        <figure>
                            <blockquote class="blockquote mb-4">
                                <p>
                                    <i class="fas fa-quote-left fa-lg text-warning me-2"></i>
                                    <span class="font-italic">Where was Gondor when the Westfold fell?</span>
                                </p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Theoden, king of the Rohirrims
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Single item -->
