<button type="button" class="btn btn-primary btn-lg btn-block" (click)="addForm=!addForm">Add new patient</button>
<app-patient-add *ngIf="addForm"></app-patient-add>

<div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" [(ngModel)]='searchTerm' />
</div>

<div class="row border border-dark">
    <div class="col-4"><b>Name</b></div>
    <div class="col-4"><b>PESEL</b></div>
    <div class="col-4"></div>
</div>
<div *ngFor="let patient of patients">
    <div class="row border  "
        *ngIf="!searchTerm || patient.personalData.name.toLowerCase().includes(searchTerm.toLowerCase()) || patient.personalData.PESEL.toLowerCase().includes(searchTerm.toLowerCase())">
        <div class="col-4"><a class="link" [routerLink]="'/patient/'+patient._id">{{patient.personalData.name}}</a></div>
        <div class="col-4"><a class="link" [routerLink]="'/patient/'+patient._id">{{patient.personalData.PESEL}}</a></div>
        <div class="col-4 float-end"><button (click)="onDelete(patient._id)"><span aria-hidden="true"
                    class="icon-trash">Discharge from hospital</span></button>
               
        </div>
        
    </div>
    
</div>