<svg
   width="210mm"
   height="297mm"
   viewBox="0 0 210 297"
   version="1.1"
   id="floor1"
   inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
   sodipodi:docname="floor1.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <!-- <sodipodi:namedview
     id="namedview7"
     pagecolor="#505050"
     bordercolor="#eeeeee"
     borderopacity="1"
     inkscape:pageshadow="0"
     inkscape:pageopacity="0"
     inkscape:pagecheckerboard="0"
     inkscape:document-units="mm"
     showgrid="false"
     inkscape:zoom="0.72337262"
     inkscape:cx="397.44385"
     inkscape:cy="560.56864"
     inkscape:window-width="2400"
     inkscape:window-height="1271"
     inkscape:window-x="2391"
     inkscape:window-y="-9"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1" /> -->
  <defs
     id="defs2">
    <rect
       x="472.78538"
       y="436.84264"
       width="196.3027"
       height="82.944804"
       id="rect6721" />
    <rect
       x="58.061363"
       y="446.51953"
       width="190.77305"
       height="62.208603"
       id="rect4757" />
    <rect
       x="183.86098"
       y="217.0389"
       width="286.15957"
       height="59.443776"
       id="rect3475" />
  </defs>
  <g
     inkscape:label="Warstwa 1"
     inkscape:groupmode="layer"
     id="layer1">
     
    <rect
       style="fill:#ffffff;stroke:#000001;stroke-width:0.264583"
       id="rect919"
       width="197.87808"
       height="100.21922"
       x="6.9495072"
       y="47.549263" />
    <rect
       style="fill:#ffffff;stroke:#000001;stroke-width:0.250804"
       id="room11"
       width="197.88741"
       height="36.219921"
       x="6.9401784"
       y="47.549263" 
       (click)="room11()"/>
    <rect
       style="fill:#ffffff;stroke:#000001;stroke-width:0.250375"
       id="room12"
       width="55.310452"
       height="43.243584"
       x="6.9191961"
       y="104.55523" />
    <rect
       style="fill:#ffffff;stroke:#000001;stroke-width:0.30574"
       id="room13"
       width="119.69247"
       height="43.16341"
       x="85.136757"
       y="104.5839" 
       (click)="room13()"/>
    <text
       xml:space="preserve"
       transform="matrix(0.26458333,0,0,0.26458333,44.623153,3.2918719)"
       id="text3473"
       style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect3475);fill:#000000;fill-opacity:1;stroke:none"><tspan
         x="183.86133"
         y="253.53228"
         (click)="room11()"
         id="tspan9383">room 11</tspan></text>
         
    <text
       xml:space="preserve"
       transform="matrix(0.26458333,0,0,0.26458333,-3.2918719,2.1945813)"
       id="text4755"
       style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect4757);fill:#000000;fill-opacity:1;stroke:none"><tspan
         x="58.060547"
         y="483.01274"
         (click)="room12()"
         id="tspan9385">room 12</tspan></text>
         
    <text
       xml:space="preserve"
       transform="matrix(0.26458333,0,0,0.26458333,0.36576355,4.7549261)"
       id="text6719"
       style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect6721);fill:#000000;fill-opacity:1;stroke:none"><tspan
         x="472.78516"
         y="473.33501"
         (click)="room13()"
         id="tspan9387">room 13</tspan></text>
  </g>
</svg>
