#floor1 {
    
}

#room11 {
    cursor: pointer;
}

#room12 {
    cursor: not-allowed;
}

#room13 {
    cursor: pointer;
    animation:blinkingRect 1s infinite;
}



.blinking{
    animation:blinkingText 1s infinite;
}
.blinking_bg{
    animation:blinkingBg 1s infinite;
}
.blinking_rect{
    animation:blinkingRect 1s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

@keyframes blinkingRect{
    0%{     fill: rgb(221, 23, 23);    }
    49%{    fill: transparent; }
    50%{    fill: transparent; }
    99%{    fill:transparent;  }
    100%{   fill: rgb(245, 9, 9);    }
}



@keyframes blinkingBg{
    0%{     background-color: rgb(253, 7, 7);    }
    49%{    background-color: transparent; }
    50%{    background-color: transparent; }
    99%{    background-color:transparent;  }
    100%{   background-color: rgb(243, 8, 8);    }
}